*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Mont';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Unb';
    src: url(fonts/Unbounded-VariableFont_wght.ttf);
}

body{
    background-color: rgb(255, 238, 249);
}

#foto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background-size: cover;
    background-position: 50%;
    margin: 80px 0;
}

#camera {
    width: 500px;
    margin: 40px 20px 0 20px;
}

.foto-container {
    position: relative;
    width: 320px;
    height: 270px;
    margin: 25px 60px;
    transition: transform 0.2s;
    box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.277);
}

.foto-container:hover {
    transform: scale(1.05);
}

.foto-item {
    width: 100%;
    height: 100%;
}

.legenda {
    font: 400 18px 'Mont', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    margin: 0;
}

.lixo-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 30px;
}

h1 {
    font: 400 30px 'Unb', sans-serif;
    text-align: center;
}

h4 {
    font: 400 20px 'Mont', sans-serif;
    text-align: center;
}

h6 {
    font: 400 16px 'Mont', sans-serif;
    text-align: center;
    margin-top: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 20px 0;
}

header img{
    width: 55px;
    margin-right: 10px;
}

.botoes {
    display: flex;
    margin-left: 100px;
}

button{
    height: 40px;
    width: 180px;
    margin: 0 15px;
    background-color: rgb(255, 0, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.botoes p{
    font: 400 20px 'Mont', sans-serif;
    color: white;
    white-space: nowrap;
}

.tudo{
    display: flex;
}

.video-foto{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}